h3{
    width: 100%;
    text-align: left;
}


header {
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100000000000;
}

header img {
    max-width: 200px;
}

header a+a {
    margin-left: 2vw;
}

header a {
    color: #fff;
    font-size: 14px
}

header a span {
    font-size: 18px;
    position: relative;
}

header a span::before {
    content: '';
    width: 100%;
    height: 2px;
    background: var(--primary_normal);
    position: absolute;
    bottom: -5px;
    left: 0;
}


.bar {
    width: 30px;
    height: 20px;
    z-index: 100000;
    display: none;
}

.bar div {
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background: #fff;
    transition: .3s;
}

.bar div {
    margin-bottom: 5px;
}

.activeBars .top {
    transform: rotate(-45deg) translate(-11px, 11px);
}

.activeBars .middle {
    transform: translateX(-20px);
    opacity: 0;
}

.activeBars .bottom {
    transform: rotate(45deg);
}

.activeNav {
    transform: translateX(0);
}


@media (max-width: 800px) {
    .bar{
        display: block;
    }

    nav {
        width: 100vw;
        height: 100vh;
        position: absolute;
        left: 0;
        top: 0;
        background: rgb(24, 24, 24);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5vh;
        transform: translateX(-100%);
        transition: .3s;
    }


    header a {
        font-size: 16px
    }

    header a span {
        font-size: 20px;
    }
}












.headline {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../IMGs/image\ 1headline.png);
    background-position: center;
    position: relative;
}

.headline::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.76);
    z-index: 1;
}

.headline h1,
.headline p {
    color: #fff;
    z-index: 2;
    text-align: center;
    animation: fadeStartText 1s forwards;
}

.headline h1 {
    font-size: 5vw;
}

.headline p {
    font-size: 1.2vw;
    position: relative;
}

.headline p::before {
    content: '';
    width: 95%;
    height: .3vh;
    position: absolute;
    bottom: -5px;
    left: calc(50% - 47.5%);
    float: none;
    background: var(--primary_normal);
}

.scrld {
    width: fit-content;
    height: fit-content;
    position: absolute;
    left: calc(50% - 15px);
    bottom: 30px;
    z-index: 2;
    background: var(--primary_background);
    animation: fadeStartText 1s 1s forwards;
    opacity: 0;
}

.scrolldown {
    --color: white;
    --sizeX: 30px;
    --sizeY: 50px;
    position: relative;
    width: var(--sizeX);
    height: var(--sizeY);
    margin-left: var(sizeX / 2);
    border: calc(var(--sizeX) / 10) solid var(--color);
    border-radius: 50px;
    box-sizing: border-box;
    margin-bottom: 16px;
    cursor: pointer;
    z-index: 1000000;
}

.scrolldown::before {
    content: "";
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: var(--color);
    border-radius: 100%;
    animation: scrolldown-anim 2s infinite;
    box-sizing: border-box;
    box-shadow: 0px -5px 3px 1px #2a547066;
}

@keyframes scrolldown-anim {
    0% {
        opacity: 0;
        height: 6px;
    }

    40% {
        opacity: 1;
        height: 10px;
    }

    80% {
        transform: translate(0, 20px);
        height: 10px;
        opacity: 0;
    }

    100% {
        height: 3px;
        opacity: 0;
    }
}

.chevrons {
    padding: 6px 0 0 0;
    margin-left: -3px;
    margin-top: 48px;
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chevrondown {
    margin-top: -6px;
    position: relative;
    border: solid var(--color);
    border-width: 0 3px 3px 0;
    display: inline-block;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
}

.chevrondown:nth-child(odd) {
    animation: pulse54012 500ms ease infinite alternate;
}

.chevrondown:nth-child(even) {
    animation: pulse54012 500ms ease infinite alternate 250ms;
}

@keyframes pulse54012 {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.5;
    }
}


@media (max-width: 800px) {

    .headline {
        gap: 4vh;
        background: url(../IMGs/image\ 1headline\ -\ mobile.png);
        background-position: center;
        background-size: cover;
    }


.headline h1 {
    font-size: 10vw;
}

.headline p {
    font-size: 4vw;
    max-width: 95%;
}

.headline p::before {
    width: 50%;
    height: .3vh;
    position: absolute;
    bottom: -5px;
    left: calc(50% - 25%);
    ;
    float: none;
    background: var(--primary_normal);
}
}



.betterOption{
    width: 100vw;
    min-height: 100vh;
    flex-direction: column;
    text-align: center;
    gap: 12vh;
}

.betterOption .grid2{
    padding: 0;
}

.betterOption .left{
    align-items: flex-start;
    gap: 3vh;
    text-align: left;
}

.betterOption .left p{
    max-width: 70%;
}

.betterOption .right img{
    width: 95%;
}





.bigContainer{
    width: 90%;
    min-height: 300px;
    height: fit-content;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;   
    padding: 5vw;
    background: linear-gradient(180deg, #0085FF 0%, #00417D 100%);
    border-radius: var(--borderRadius);
}

.bigContainer h3, .bigContainer p{
    color: #fff;
}

.bigContainer h3{
    text-align: center;
}

.bigContainer .textsLine{
    display: flex;
    gap: 10%;
}

.bigContainer .TLink{
    color: #fff;
    text-decoration: none;
    width: fit-content;
    min-width: fit-content;
    background: transparent;
    border: none;
}

.bigContainer p+.textsLine{
    margin-top: 3vh;
}




.pictures{
    flex-direction: column;
    align-items: flex-start !important;
    gap: 5vh;
}

.picsGrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.picsGrid img{
    max-width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}






footer{
    width: 100%;
    padding: 5vh;
    background-color: #000;
    text-align: center;
}

footer p{
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

footer a{
    text-decoration: solid;
    text-transform: capitalize;
    cursor: pointer;
}









@media (max-width: 800px) {

    .imgText, .betterOption{
        gap: 50px;
    } 


    .inverter .left{
        order: 1 !important;
    }
    .inverter .right{
        order: 2 !important;
    }

    .betterOption .left p{
        max-width: 100%;

    }

    .picsGrid{
        grid-template-columns: 1fr;
    }
}